body {
}

.dashboard-revenue {
    margin-top: 50px;
    margin-bottom: 20px;
    color: #FFF;
    background-color: #193D58;
}

.dashboard-count {
    height: 150px;
    width: 300px;
    background-color: #FCD400;
    border-radius: 10px;
}

.count-heading {
    margin-top: 20px;
    font-family: Oswald;
    font-size: 28px;
    font-weight: 700;
    color: #193D58;
}

.count-text {
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    color: #193D58;
}

.dc {
    padding-left: 40px;
}
